
__pycache__
venv
env
.env
.pytest_cache
.coverage
.idea
lightning_logs
.ipynb_checkpoints
.ckpt
example.ckpt
.neptune
logs_for_plots
final_logs
logs_for_heuristics
logs_for_graphs
heuristic_tables
stats
algs/stasts
.DS_Store